/*this is the css page for home page FOR ADMIN*/

*
{
    margin: 0;
    padding: 0;
}

body
{
	
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
	
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a:hover
{
	background-color:#ff704d;
    transition: all 0.1s ease-in;
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
	
}
header
{
    background-image:url(12.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img
{
	padding-top:10px;
    width: 150px;
    height: auto;
}












