/*this is the css page for home page before login*/

*
{
    margin: 0;
    padding: 0;
}

body
{
	
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
	
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a:hover
{
	background-color:#ff704d;
    transition: all 0.1s ease-in;
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
	
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
	margin-top: 0px;
    padding-bottom: 100px;
}


h1
{
	
    color:  #d9d9d9;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
	padding-right: 45px;
    
}
h2
{
	color:#00cc66;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
	padding-right: 45px;
}
header
{
    background-image:url(12.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}
.btn-one:hover
{
    background-color: #ff9f80;
    transition: all 0.5s ease-in;
    
        
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn-two:hover
{
    background-color: #ff9f80;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
	padding-top:10px;
    width: 150px;
    height: auto;
}












